@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Välkommen</h1>
    <p>Denna sida är skapad för att hantera innehåll på Gott Tuggs hemsida.</p>
    <p>På sidan hittar du restaurangens menyer. Du kan som icke-inloggad användare se vad menyerna innehåller.</p>
    <p>För dig som har ett konto till sidan kan du även ändra och ta bort innehåll från menyerna.</p>
    <br>
    <p>Om du har några frågor, vänligen kontakta oss på:
        <br> <a href="mailto:info@gottugg.se">info@gottugg.se</a>
        <br>02x-084584</p>
</div>
