@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<h1>@ViewData["Title"]</h1>
<div>
    <div>
        <section>
            <form id="account" method="post">
                <h2>Använd ditt användarkonto för att logga in</h2>
                <hr /><br>
                <div asp-validation-summary="ModelOnly" class="errorMsg"></div>
                <div>
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                    <br>
                    <span asp-validation-for="Input.Email" class="errorMsg"></span>
                    <br>
                </div>
                <div>
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
                    <br>
                    <span asp-validation-for="Input.Password" class="errorMsg"></span>
                    <br>
                </div>
                
                <div>
                    <button id="login-submit" type="submit" class="registerBtn">Logga in</button>
                </div>
                <div>
                    <p class="loginOpt">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrera ett nytt konto</a>
                    </p>
                    
                </div>
            </form>
        </section>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
